venv/**
*.pyc
generated_data/**
/src/**/model_use_data/**
/generated_data_v1_old/
/generated_data_v1/**
/generated_data_v0/**
*events.out.tfevents.*.*gi
**/__pycache__/**
/src/**/summary
/src/stupidBaseline_1/generated_data/**
wwf_data_v1
**/.ipynb_checkpoints/**
**/stupidBaseline_1/generated_data_b1/**
src/**/__pycache__/**
/src/**/model_files/**/*.pkl
/src/**/model_files/**/*.json
/src/**/model_files/**/X_ij.npy
/src/**/summary_data/*
/MetaData/.ipynb_checkpoints/
/generated_data_v1/
/generated_data_v0/
/Data_Raw/

/src/LP_1/model_use_data/
