venv/**
*.pyc
generated_data/**
/generated_data_v1_old/
/generated_data_v1/**
/generated_data_v0/**
*events.out.tfevents.*.*gi
**/__pycache__/**
/src/**/summary
/src/stupidBaseline_1/generated_data/**
wwf_data_v1
**/.ipynb_checkpoints/**
**/stupidBaseline_1/generated_data_b1/**
src/**/__pycache__/**
/src/**/model_files/**/*.pkl
/src/**/model_files/**/*.json
/src/**/model_files/**/X_ij.npy
/src/**/summary_data/*
/MetaData/.ipynb_checkpoints/
/generated_data_v1/
/generated_data_v0/
/Data_Raw/
/src/data_preprocessor/.ipynb_checkpoints/
/experimental/
/src/GraphEmb_1/saved_data/
/src/GraphEmb_1/entity2vec_gensim/data/
/src/base_node2vec/model_use_data/
/src/MEAD/output/
/src/MEAD/save_dir/
/AD_system_output/
/src/Baseline_SimRank_1/model_use_data/
/src/Baseline_PathSim_1/model_use_data/
/src/GraphEmb_2/model_use_data/
/generated_data_v2/
/src/base_node2vec/model_use_data

